.guest-dashboard {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  background-color: #200000;
  color: #200000;
  min-height: 100vh;
  max-width: 1200px;
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  background-color: #200000;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.dashboard-tab {
  font-size: 16px;
  font-weight: bold;
  color: #d7cbbc;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.dashboard-tab:hover {
  text-decoration: underline;
}

.dashboard-content {
  margin-top: 20px;
  color: #200000;
  flex-grow: 1;
}

.dashboard-message {
  font-size: 18px;
  color: #d7cbbc;
}

.app-header-logo {
  height: 40px;
  width: auto;
  cursor: pointer;
  display: block;
}

.header-buttons {
  display: flex;
  gap: 20px;
}

.dashboard-footer {
  background-color: #200000;
  color: #d7cbbc;
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  margin-top: auto;
}
