body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #fefae0;
  color: #606c38;
}

.guest-landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.guest-header h1 {
  font-size: 2rem;
  color: #fefae0;
  margin-bottom: 10px;
}

.guest-header p {
  font-size: 1.2rem;
  color: #fefae0;
}

.guest-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #550000;
  border-radius: 12px;
  padding: 30px;
  width: 90%;
  max-width: 400px;
  color: #fefae0;
}

.guest-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.guest-label {
  font-size: 18px;
  margin-bottom: 7px;
  color: #fefae0;
  text-align: left;
  width: 100%;
}

.guest-button {
  margin-top: 15px;
  background-color: #910000;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #fefae0;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

.guest-button:hover {
  background-color: #bc6c25;
}

.guest-error {
  color: #bc6c25;
  margin-top: 10px;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.guest-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  margin-top: 15px;
  border: 1px solid #606c38;
  box-sizing: border-box;
}

.suggestions {
  position: absolute;
  top: 100%; /* Position directly below the input field */
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fefae0;
  border: 1px solid #550000;
  border-radius: 6px;
  max-height: 150px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 10; 
}

.suggestions li {
  padding: 10px;
  font-size: 16px;
  color: #550000;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: #ffcdcd;
  color: #283618;
}

.app-body-logo {
  height: 100px;
  width: auto;
  cursor: pointer;
  display: block;
}
