.menu-display {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #fefae0;
  color: #550000;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 600px;
}

.menu-display h2 {
  font-size: 24px;
  color: #300000;
  margin-bottom: 20px;
}

.allergy-section {
  margin-top: 50px;
}

.allergy-section h3 {
  font-size: 18px;
  color: #300000;
  margin-bottom: 10px;
}

.allergy-list {
  font-size: 15px;
  color: #550000;
  margin-bottom: 5px;
}

.no-allergy-note {
  font-size: 15px;
}

.allergy-note {
  font-size: 12px;
  color: #550000;
  margin-top: 10px;
}

.section-details {
  margin-top: 40px;
}

.menu-description {
  font-size: 0.9em;
  font-style: italic;
  color: #550000;
  margin-top: -0.5em;
}

.menu-name {
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 18px;
  color: #550000;
}

.dessert-section {
  font-size: 18px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.dessert-name {
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 10px;
}
