.seating-map {
  text-align: center;
  padding: 20px;
  background-color: #fefae0;
  border-radius: 12px;
  color: #550000;
}

.seating-message {
  font-size: 18px;
  color: #606c38;
}

.seating-message.error {
  color: red;
}

.canvas-wrapper {
  position: relative;
  width: 100%;
  height: 600px;
  border: 2px solid #550000;
  border-radius: 12px;
  overflow: hidden;
  background-color: #fcfbef;
}

.canvas-content {
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-element {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #550000;
}

.canvas-element.table {
  background-color: #fefae0;
  border: 1px solid #550000;
  border-radius: 5px;
  color: #550000;
}

.canvas-element.chair {
  background-color: #fefae0;
  border: 1px solid #550000;
  border-radius: 5px;
}

.seating-name-display {
  color: #550000;
  font-weight: bold;
  font-size: 20px;
}
