.app-container {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  margin: auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  background-color: #550000;
  overflow: visible;
  min-height: 100vh;
  padding-bottom: 0;
}
